/* Color Declear */
:root{
  --primary-color-orange:#FEA301;
  --secondary-color-skyblue:#01ACFD;

  /* More Color */
  --one:#05D4DF;
  --two:#5D58EF;
  --three:#95B226;
}
/* Button Design */
/* shared -button */
.btn{
 color: white;
 border-radius: 8px;
 font-size: 1rem;
 padding: 10px 35px;
 border: none;
 cursor: pointer;
}
.btnone{
 background-color: var(--primary-color-orange);
}
.btntwo{
 background-color: black;
 margin-top: 20px;
}
.btn-three{
  background-color: var(--one);
  color: white;
}
.btn-four{
  background-color: var(--three);
  color: white;
}
.btn-five{
  background-color: var(--three);
  color: white;
}
/* Custome font Quicksand */
.body{
  font-family: "Quicksand", serif;
}

/* ##Header Part Design */
.header,
.main
{
  max-width: 1300px;
  margin: 20px auto;
}
/* nav part */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo-Part */
.logo-part{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* menu design */
ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-right: 3rem;
}
ul li a{
  text-decoration: none;
  color: var(--primary-color-orange);
  font-weight: bold;
}
.about{
  color: var(--secondary-color-skyblue);
  font-weight: 600;
}
.facilities{
  color: var(--one);
   font-weight: 600;
}
.admission{
  color: var(--two);
  font-weight: 600;
}
/* menu-button-part */
.menu-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* banner-part */
.banner{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.banner-left{
  width: 640px;
}
.banner-title{
  font-size: 3.5rem;
}
.banner-title-color-one{
  color: var(--primary-color-orange);
}
.banner-title-color-two{
  color: var(--secondary-color-skyblue);
}
.banner-description{
  font-family: 1.25rem;
}
.banner-img{
  width: 460px;
}


/* Curriculum Section */

.Curriculum-section{
  text-align: center;
  background-image: url(assets/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5% 0;
}
.Curriculum-section-info{
  margin-bottom: 5%;
}

/* Card Design */
.Curriculum-section .card-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  gap: 20px;
}
.Curriculum-section .card-box p{
  line-height: 30px;
}
.card-style{
  width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 3%;
  cursor: pointer;
}
.Curriculum-section .card-one{
 box-shadow: inset 0px 20px 0px #01ACFD;
}
.Curriculum-section .card-two{
 box-shadow: inset 0px 20px 0px #FEA301;
}
.Curriculum-section .card-three{
 box-shadow: inset 0px 20px 0px #5D58EF;
}
.Curriculum-section .card-title{
  font-size: 1.5rem;
}
.card-one a,
.card-two a,.card-three a{
 font-weight: bold;
 text-decoration: none;
}
.Curriculum-section .card-one a{
  color: var(--secondary-color-skyblue);
}
.Curriculum-section .card-two a{
  color: var(--primary-color-orange);
}
.next-icon{
  text-align: center;
}
.fa-circle-chevron-left,
.fa-circle-chevron-right{
  font-size: 3rem;
  color: #FEA301;
  margin: 5px;
}
.fa-circle-chevron-left:hover,
.fa-circle-chevron-right:hover{
  color: black;
}

/* school story section */
