/* Color Declear */
:root{
  --primary-color-orange:#FEA301;
  --secondary-color-skyblue:#01ACFD;

  /* More Color */
  --one:#05D4DF;
  --two:#5D58EF;
  --three:#95B226;
}
/* Button Design */
/* shared -button */
.btn{
 color: white;
 border-radius: 8px;
 font-size: 1rem;
 padding: 12px 35px;
 border: none;
 cursor: pointer;
}
.btnone{
 background-color: var(--primary-color-orange);
 transition: 1s;
}
.btnone:hover{
  background-color: black;
}
.btntwo{
 background-color: black;
 margin-top: 20px;
}
.btntwo:hover{
  background-color: var(--primary-color-orange);
  transition: 1s;
}
/* Custome font Quicksand */
.body{
  font-family: "Quicksand", serif;
  background-color: whitesmoke;
  margin: 0;
}

/* ##Header Part Design */
.header,
.main
{
  max-width: 1300px;
  margin: 20px auto;
}
/* nav part */
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Logo-Part */
.logo-part{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* menu design */
ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li{
  list-style: none;
  margin-right: 3rem;
}
ul li a{
  text-decoration: none;
  color: var(--primary-color-orange);
  font-weight: bold;
}
.about{
  color: var(--secondary-color-skyblue);
  font-weight: 600;
}
.facilities{
  color: var(--one);
   font-weight: 600;
}
.admission{
  color: var(--two);
  font-weight: 600;
}
/* menu-button-part */
.menu-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-bars{
  display: none;
}
/* banner-part */
.banner{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.banner-left{
  width: 640px;
}
.banner-title{
  font-size: 3.5rem;
}
.banner-title-color-one{
  color: var(--primary-color-orange);
}
.banner-title-color-two{
  color: var(--secondary-color-skyblue);
}
.banner-description{
  font-family: 1.25rem;
}
.banner-img{
  width: 460px;
}


/* Curriculum Section */

.Curriculum-section{
  text-align: center;
  background-image: url(assets/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 5% 0;
}
.Curriculum-section-info{
  margin-bottom: 5%;
}

/* Card Design */
.Curriculum-section .card-box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  gap: 20px;
}
.Curriculum-section .card-box p{
  line-height: 25px;
}
.card-style{
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 3%;
  cursor: pointer;
}

.Curriculum-section .card-one{
 box-shadow: inset 0px 20px 0px #01ACFD;
}
.Curriculum-section .card-one:hover{
 background-color: #01ACFD;
}
.Curriculum-section .card-one:hover a,.Curriculum-section .card-one:hover p{
  color: white;
}
.Curriculum-section .card-two{
 box-shadow: inset 0px 20px 0px #FEA301;
}
.Curriculum-section .card-two:hover p{
  color: white;
}
.Curriculum-section .card-two:hover{
 background-color: #FEA301;
}
.Curriculum-section .card-two:hover a{
 color: white;
}

.Curriculum-section .card-three{
 box-shadow: inset 0px 20px 0px #5D58EF;
}
.Curriculum-section .card-three:hover{
  background-color: #5D58EF;
}
.Curriculum-section .card-three:hover a, 
.Curriculum-section .card-three:hover p{
  color:white
} 
.Curriculum-section .card-title{
  font-size: 1.5rem;
}
.card-one a,
.card-two a,.card-three a{
 font-weight: bold;
 text-decoration: none;
}
.Curriculum-section .card-one a{
  color: var(--secondary-color-skyblue);
}
.Curriculum-section .card-two a{
  color: var(--primary-color-orange);
}
.next-icon{
  text-align: center;
}
.fa-circle-chevron-left,
.fa-circle-chevron-right{
  font-size: 3rem;
  color: #FEA301;
  margin: 5px;
}
.fa-circle-chevron-left:hover,
.fa-circle-chevron-right:hover{
  color: black;
}


/* ##this is school story section */
.story-section{
  padding: 5% 0;
}
.story-section h1{
  text-align: center;
  margin-bottom: 3%;
}
.grid-layout{
  display: flex;
  gap: 20px;
}
.left-layout{
  background-color: white;
  border-radius: 15px;
}
.left-layout time{
 background-color: #05D4DF;
 color: white;
 padding: 3% 5%;
 border-radius: 30px;
 position: relative;
 top:-40px;
 cursor: grab;
 text-wrap: nowrap;
}
.left-layout img,.right-layout img {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}
.left-layout-info h3{
  font-size: 1.5rem;
}
.left-layout-info p{
 margin-top: 3rem;
 font-size: 20px;
}
.left-layout-info,.right-layout-info{
  padding: 5%;
}
.right-layout{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.right-layout-child{
  border-radius: 15px;
  background-color: white;
}
.right-layout time{
 background-color: #95B226;
 color: white;
 padding: 3% 5%;
 border-radius: 30px;
 margin-left: 5px;
 position: relative;
 top:-35px;
 cursor: grab;
 text-wrap: nowrap;
}
.right-layout .right-layout-box3{
  background-color: #5D58EF;
}
.view-all-btn-section{
  text-align: center;
}

/* ##this is foooter Design */
footer{
  background-color: var(--secondary-color-skyblue);
  padding: 5% 0;
  margin-top: 3%;
}
footer section{
  margin: 0 auto;
  max-width:1300px;
  display: flex;
  justify-content: space-between;
}
footer section .left,
footer section .middle,
footer section .right{
  flex-basis: 25%;
}
footer section .left img{
  position: relative;
  right: 20px;
  bottom: 10px;
}
footer section .left h3{
  font-size: 2.3rem;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  bottom: 20px;
}
footer section .left p{
  font-size: 20px;
  color: white;
}
footer section .middle h3,
footer section .right h3{
  font-size: 1.5rem;
  color: white;
}
footer section .middle a{
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom:10%;
  font-size: 1.1rem;
}
footer section .right a{
  margin-right: 5px;
}
footer section .right p a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Alhamdulillah design done */